/* Theme */
:root {
  /* Colours */
  --prim: #182145;
  --sec: #f1824c;
}

body {
  background: #1f294ed2;
}

/* Removing the defaults from the browser */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* NavigationBar Styling */
.nav {
  display: flex;
  background: var(--prim);
  max-height: 120px;
  justify-content: flex-end;
}

.logo {
  flex-basis: 50%;
  width: 100px;
  max-width: 225px;
  margin-right: auto;
}

.navButtons {
  flex-basis: 20%;
  background-color: transparent;
  border: 0px;
  font-size: large;
  font-style: italic;
  background: #0c29ac6e;
  color: aliceblue;
  cursor: pointer;
}

.navButtons:hover {
  background: #f1834cc7;
}

/* Contact */

.contact {
  position: relative;
  /* padding: 20px; */
  /* background-color: black; */
  color: white;
  /* margin: 20px; */
}

/* About */
.about {
  position: relative;
  /* padding: 20px; */
  /* background-color: black; */

  color: white;
  /* margin: 20px; */
}

/* Search */
.searchContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background: cornflowerblue; */
}

.searchBar {
  /* background: darkcyan; */
  width: 100vw;
  display: flex;
  justify-content: center;
}

.searchBtn,
.searchBox {
  width: auto;
  height: 40px;
  margin: 10px;
  padding: 0 20px;
  border-radius: 10px;
  font-size: large;
  font-style: oblique;
  font-weight: bold;
  outline: none;
  border-style: solid;
  border-color: rgba(7, 51, 53, 0.582);
  background: rgba(100, 148, 237, 0.37);
}
.searchBox::placeholder {
  color: rgb(15, 9, 9);
}

.searchBox {
  flex-basis: 80%;
}

.searchBtn {
  flex-basis: 20%;
  background: coral;
  cursor: pointer;
}
.searchBtn:hover {
  background: rgb(184, 107, 79);
}
.searchBtn:active {
  background: rgb(39, 163, 15);
}

/* Lyrics */
.lyrics {
  width: 100vw;
  text-align: center;
  font-style: italic;
  font-size: 20px;
  background: #f1824c;
}

/* GIF */
.gif {
  border-radius: 20px;
  border: 10px solid;
  border-color: rgba(172, 255, 47, 0.342);
}

.loader {
  border: 16px solid #2cd60a00;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  display: none;
  margin-bottom: 10px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
