/* Theme */
:root {
  /* Colours */
  --prim:black;
  --sec: white;
}

body {
  background-image: url(./img/bg3.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* Removing the defaults from the browser */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* NavigationBar Styling */
.nav {
  display: flex;
  background: var(--prim);
  max-height: 120px;
  justify-content: flex-end;
}

.logo {
  flex-basis: 50%;
  width: 100px;
  max-width: 225px;
  margin-right: auto;
}

.navButtons {
  flex-basis: 20%;
  background-color: transparent;
  border: 0px;
  font-size: large;
  font-style: italic;
  background: black;
  color: aliceblue;
  cursor: pointer;
}

.navButtons:hover {
  background: #f1834cc7;
}

/* Contact */

.contact {
  position: relative;
  /* padding: 20px; */
  /* background-color: black; */
  color: black;
  /* margin: 20px; */
}

/* About */
.about {
  position: relative;
  /* padding: 20px; */
  /* background-color: black; */

  color: black;
  /* margin: 20px; */
}

/* Search */
.searchContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background: cornflowerblue; */
}

.searchBar {
  /* background: darkcyan; */
  width: 100vw;
  display: flex;
  justify-content: center;
}

.searchBtn,
.searchBox {
  width: auto;
  height: 40px;
  margin: 10px;
  padding: 0 20px;
  border-radius: 10px;
  font-size: large;
  font-style: oblique;
  font-weight: bold;
  outline: none;
  border-style: solid;
  border-color : black;
  background: white;
}
.searchBox::placeholder {
  color: rgb(15, 9, 9);
}

.searchBox {
  flex-basis: 80%;
}

.searchBtn {
  flex-basis: 20%;
  background: black;
  color: white;
  cursor: pointer;
}
.searchBtn:hover {
  background: rgb(184, 107, 79);
}
.searchBtn:active {
  background:transparent;
}

/* Lyrics */
.lyrics {
  position: relative;
  width: 80vw;
  font-style: italic;
  font-size: 20px;
  background: black;
  color: white;
  opacity: 0.8;
}

/* GIF */
.gif {
  position: relative;
  top: 60px;
  border-radius: 10px;
  border: 5px solid;
  border-color:black;
}

.loader {
  border: 16px solid #2cd60a00;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  display: none;
  margin-bottom: 10px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.about p{
  position: relative;
  top: 30px;
  font-size: 20px;
  margin: 40px;
  font-size: 30px;
  font-style: italic;
  font-weight: 800;
  
}
.contact p{
  position: relative;
  top: 50px;
  font-size: 50px;
  font-weight: 100;
  margin: 15px ;
}
.contact ul{

  position: relative;
  top: 50px;
  font-size: 30px;
  margin: 20px;
}
.returnbutton{

  position: relative;
  top: 230px;
  left: 600px;
  background-color: var(--prim);
  padding: 5px;
  width: 10%;
  height: 10%;
  color: rgb(184, 107, 79);
  font-size: large;
  border: transparent;
}